{% extends "base.html" %} {% block content %}
<div class="row form-margin">
    <div class="text-center">
        <p><span class="{{bug.status}}">Status:</span> {{ bug.status }} </p>
        <h1>{{ bug.name }}</h1>
        <p><span class="boldtext">Author:</span> {{bug.author}}</p>
        <p><span class="boldtext">Upvotes:</span> {{ bug.upvotes }} </p>
        <p><span class="boldtext">Created on:</span> {{ bug.created_date }} </p>
        <p><span class="boldtext">Views:</span> {{bug.views}}</p>
        <div class="row">
            <h3>Description:</h3>
            <p>{{bug.description}}</p>
        </div>
    </div>
</div>
<hr> {% endblock %}
