{% extends "base.html" %} {% block content %}
<div class="container">
    <div class="row form-margin">
        <div class="text-center">
            <h1>{{ bug.name }}</h1>
            <p>
                <div class="{{bug.status}}">Status: {{ bug.status }}</div>
            </p>
            <p><span class="">Author:</span> {{bug.author}}</p>
             <p><span class="">Created on:</span> {{ bug.created_date }} </p>
            <a href="upvote/{{ bug.id }}"><i class="material-icons upvotedark" alt="upvote">arrow_upward</i><span class="badge">{{ bug.upvotes }}</span></a>
            <span class=""><i class="material-icons" alt="views">remove_red_eye</i><span class="badge">{{ bug.views }}</span></span>  
           
            <div class="row">
                <h3>Bug Description:</h3>
                <p>{{bug.description}}</p>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <h3>Comments:</h3>
        <p>
            <form method="POST" action="{% url 'bug_detail' bug.id %}" enctype="multipart/form-data">
                {% csrf_token %} {{ form.as_p }}
                <button type="submit" class="btn btn-success">Add</button>
            </form>
        </p>
    </div>
</div>
{% endblock %}
