{% extends 'base.html' %} {% block page_title %}Bugs Page{% endblock %} {% block page_heading %}Bugs Registration{% endblock %} {% block content %}
<h1 class="form-margin text-center">Bugs</h1>
{% if user.is_authenticated %}
<div class="text-center"><a href="{% url 'new_bug' %}"><button type="button" class="btn btn-success">Add a Bug</button></a></div> {% endif %}
<div class="row row-flex form-margin">
    {% for bug in bugs %}
    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="col-4">
                    <h3 class="panel-title">{{ bug.name }}</h3>
                </div>
                
                <div class="col-4 text-right">
                    <i class="material-icons" alt="upvote">arrow_upward</i> {{ bug.upvotes }}
                </div>
            </div>
            <div class="panel-body">
                <p><span class="{{bug.status}}">Status: {{ bug.status }}</span>  </p>
                <p><span class="">Date Created: {{ bug.created_date }} </span> </p>
                <p><span class=""><i class="material-icons" alt="views">remove_red_eye</i>{{ bug.views }}</span>  </p>
                <h5>{{bug.author}}</h5>
                <p class="bug-description">{{ bug.description|truncatewords:30}}</p>
                <p><a href="{% url 'bug_detail' bug.id %}" class="btn btn-primary">Read more</a></p>
            </div>
        </div>

    </div>
    {% endfor %}

</div>
{% endblock %}
