{% extends 'base.html' %} {% block page_title %}Features Page{% endblock %} {% block page_heading %}Features{% endblock %} {% block content %}
{% if not message in messages %}<span class="form-margin"></span></span>{% endif %}
<h1 class="text-center">Features</h1>
<h5 class="text-center">Features cost <strong>€50</strong> to create and <strong>€5</strong> to upvote, but bugs are <strong>free</strong> - add a bug
<a href="{% url 'bugs' %}">Here</a></h5>
{% if user.is_authenticated %}
<div class="text-center"><a href="{% url 'new_feature' %}"><button type="button" class="btn btn-success">Add a Feature</button></a></div> {% endif %}
<h4>{{features.count}} Feature{{features|pluralize}} found:</h4>
<div class="row row-flex">
    {% for feature in features %}
    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="col-4">
                    <h3 class="panel-title">{{ feature.name|capfirst }}</h3>
                </div>

                <div class="col-4 text-right">
                    <!--<a href="upvote/{{ feature.id }}"><i class="material-icons upvote" alt="upvote">arrow_upward</i><span class="badge">{{ feature.upvotes }}</span>
                    <span class="badge">Price: €5.00</span></a>-->
                </div>
            </div>
            <div class="panel-body">
                <h5>{{feature.author|capfirst}}</h5>
                <p>
                    <div class="{{feature.status}} text-center">Status: <strong>{{ feature.get_status_display }}</strong></div>
                </p>
                <p><span class="">Date Created: {{ feature.created_date }} </span> </p>
                <span class=""><i class="material-icons" alt="views">remove_red_eye</i><span class="badge">{{ feature.views }}</span></span>
                <p class="feature-description">{{ feature.description|truncatewords:30}}</p>
                <p><a href="{% url 'feature_detail' feature.id %}" class="btn btn-primary">Read more</a></p>
            </div>
        </div>

    </div>
    {% endfor %}

</div>
{% endblock %}
