a {
    
    text-decoration: none;
    /* no underline */
}

.upvotebtn {
    background: none;
    border: 0;
    padding: 0;
}

.form-margin {
    padding-top: 50px;
    margin-top: 20px;
}

.logo {
    height: 100px;
}

/*status styles*/
.T {
    background-color: #ffe100;
}

.D {
    background-color: #63ff99;
}


.F {
    background-color: #b50101;
    color: white;
}


/* upvotes*/
.upvote {
    color: white;
}

.upvote:hover {
    color: red;
}

.upvote:active {
    color: red;
}
