{% extends 'base.html' %} {% block page_title %}Home Page{% endblock %} {% block page_heading %}Home{% endblock %} {% block content %}
<div class="jumbotron">
    <h1>Unicorn Attractor</h1>
    <p>Our unique business model allows you to pay for features you want us to implement, bug fixes are <strong>free!</strong></p>
    <p>We spend half our time on payed features.
        <div class="progress progress-striped active">
            <div class="progress-bar" style="width: 50%">
            </div>
        </div>
    </p>
    <p><a href="{% url 'registration'%}" class="btn btn-primary btn-lg">Sign Up</a></p>
</div>
{% endblock %}
