{% extends 'base.html' %} {% block page_title %}{{ user }}'s Profile{% endblock %} {% block page_heading %}{{ user }}'s Profile{% endblock %} {% block content %}
<h1 class='text-center'>User: {{ profile.username|capfirst }}</h1>
<hr>


<div class="text-center">
    <h2>Your Features:</h2>
    <h4>Your unpaid features will not be shown on the features page until <strong>paid!</strong></h4>
    <h5>If you need to re-add one to your cart, click on the name and do so on the features page.</h5>
</div>
{% for feature in features %}
<div class="col-sm-12 col-md-4 text-center">
    <div class="panel panel-primary">
        <h3>Feature Id: {{feature.id}}</h3>
        <h3><a href="{% url 'feature_detail' feature.id %}">Name: {{feature.name}}</a></h3>
        <div class="panel-body">
            <h3><span class="{{feature.status}}"> Status: {{feature.get_status_display}}</span></h3>
            {% if feature.paid == False %}<label for="notpaid">Status: Not Paid</label>
            <a id="notpaid" href="{% url 'view_cart' %}" class="not-paid">
    <br>
    <button class="btn btn-success">View Cart</button></a> {% endif%} {% if feature.paid == True %}<label for="paid">Status: Paid</label>
            <br>
            <button class="btn btn-success" disabled>View Cart</button></a>
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}

<div class="text-center">
    <h2>Your Bugs:</h2>
    {% for bug in bugs %}
    <div class="col-sm-12 col-md-4 text-center">
        <div class="panel panel-primary">
            <h3>Bug Id: {{bug.id}}</h3>
            <h3><a href="{% url 'bug_detail' bug.id %}">Name: {{bug.name}}</a></h3>
            <div class="panel-body">
                <h3><span class="{{bug.status}}"> Status: {{bug.get_status_display}}</span></h3>
            </div>
        </div>
    </div>
</div>
{% endfor %} {% endblock %}
