{% extends 'base.html' %} {% block page_title %}{{ user }}'s Profile{% endblock %} {% block page_heading %}{{ user }}'s Profile{% endblock %} {% block content %}
<h1 class='text-center'>User: {{ profile.username|capfirst }}</h1>
<!--<ul>-->
<!--    <li class='active'><span>My Features</span></li>-->
<!--    <li class=''><span>My Bugs</span></li>-->
 
<!--</ul>-->
<hr>
{% for feature in features %}
<div class="text-center">
<h2>Your Features:</h2>
<h3>Id: [{{feature.id}}]
Name: [{{feature.name}}]
Status: [{{feature.get_status_display}}]</h3>
<hr>
</div>
{% endfor %}
<hr>
<div class="text-center">
{% for bug in bugs %}
<h2>Your Bugs:</h2>
<h3>{{bug.id}} {{bug.name}} </h3>
</div>
{% endfor %}
{% endblock %}
